# https://github.com/Homebrew/homebrew-bundle

# The following packages will be installed on every system
brew "bat"
brew "dua-cli"
brew "eza"
brew "fastfetch"
brew "fd"
brew "fish"
brew "fisher"
brew "fx"
brew "git-delta"
brew "git-graph"
brew "helix"
brew "jd"
brew "jhead"
brew "jq"
brew "lazygit"
brew "ripgrep"
brew "starship"
brew "task"
brew "television"
brew "timewarrior"
brew "tldr"
brew "yh"
brew "zellij"

{{- if ne .env "server" }}
##########################################################
# client only section
brew "helm"
brew "kubernetes-cli"
brew "kubeseal"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
##########################################################
# macOS only section...
brew "container"
cask "firefox"
cask "fork"
cask "ghostty"
cask "tiles"
cask "vivaldi"
cask "xcodes-app"
cask "zed"

{{- if ne .env "work" }}
# non-work macOS -> my private clients ;)
cask "balenaetcher"
cask "keepingyouawake"
cask "raspberry-pi-imager"
cask "spotify"
{{- end }}

{{- if eq .env "work" }}
# working macOS
brew "glab"
{{- end }}

{{- end }}
