# https://github.com/Homebrew/homebrew-bundle

# The following packages will be installed on every system
brew "nushell"

{{- if eq .chezmoi.os "darwin" }}
# beginning macOS only section...
cask "firefox"
cask "ghostty"

{{- if ne .env "utm" }}
# casks installed only on non-'utm' macOS machines...
cask "docker"
cask "tiles"
{{- end }}

{{- if eq .env "private" }}
# casks installed only on private macOS machines
cask "keepingyouawake"
cask "raspberry-pi-imager"
{{- end }}

{{- end }}
