# https://github.com/Homebrew/homebrew-bundle

# The following packages will be installed on every system
brew "fish"
brew "git-graph"
brew "helix"
brew "jhead"
brew "starship"

{{- if eq .env "client" }}
##########################################################
# client only section
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
##########################################################
# macOS only section...
cask "container"
cask "firefox"
cask "fork"
cask "ghostty"
cask "tiles"
cask "zed"

{{- if ne .env "work" }}
# non-work macOS -> my private clients ;)
cask "balenaetcher"
cask "keepingyouawake"
cask "raspberry-pi-imager"
cask "spotify"
{{- end }}

{{- end }}
