#!/usr/bin/env bash

echo "🚧 Configuring fish as login-shell..." && sleep 2

grep fish /etc/shells &> /dev/null

if [[ $? -ne 0 ]]; then
	{{- if eq .chezmoi.os "linux" }}
	su root -c "echo '/home/linuxbrew/.linuxbrew/bin/nu' >> /etc/shells"
	{{- else }}
	sudo sh -c 'echo /opt/homebrew/bin/fish >> /etc/shells'
	{{ end }}
fi

echo "🚧 	Calling [chsh] ..." && sleep 2

{{- if eq .chezmoi.os "linux" }}
chsh -s "/home/linuxbrew/.linuxbrew/bin/nu" $USER
{{- else }}
sudo chsh -s /opt/homebrew/bin/fish $USER
{{- end }}
