#!/usr/bin/env bash

echo "🚧 Configuring default nushell..." && sleep 2

grep nu /etc/shells &> /dev/null

if [[ $? -ne 0 ]]; then
    {{ if eq .chezmoi.os "linux" }}
    su root -c "echo '/home/linuxbrew/.linuxbrew/bin/nu' >> /etc/shells"
    {{ else }}
    sudo su root -c "echo '/opt/homebrew/bin/nu' >> /etc/shells"
    {{ end }}
fi

{{ if eq .chezmoi.os "linux" }}
chsh -s "/home/linuxbrew/.linuxbrew/bin/nu" $USER
{{ else }}
sudo chsh -s "/opt/hombrew/bin/nu" $USER
{{ end }}
