theme = Dracula
background-opacity = 0.9
background-blur = true
font-size = 16

{{- if eq .chezmoi.os "darwin" }}
macos-titlebar-style = tabs
{{- end }}

# Quick terminal config
keybind = global:cmd+backquote=toggle_quick_terminal
quick-terminal-position = top
quick-terminal-size = 75%
quick-terminal-screen = macos-menu-bar
