abbr -a --regex '^\\.\\.+$' --function multicd -- dotdot
abbr -a -- ocr ocrmypdf --optimize 3 --deskew --clean --force-ocr --rotate-pages --language deu+eng --output-type pdfa

# special kubectl abbr. to set the namespace
abbr -a -- ksetn 'kubectl config set-context --current --namespace='

