# bat aliases (instead of cat)
alias cat 'bat'

# eza aliases (instead of ls)
alias ls 'eza --icons'
alias ll 'eza --icons -lhg --time-style=long-iso'
alias la 'eza --icons -lhg --time-style=long-iso --all'

# git aliases
alias g git

alias ga 'git add'
alias gc 'git commit'
alias gd 'git diff'
alias gdca 'git diff --cached'
alias gfo 'git fetch origin'
alias gg git-graph
alias gl 'git pull'
alias gp 'git push'
alias grp 'git remote prune origin'
alias gs 'git status'
alias lg lazygit

# kubectl aliases
alias k kubectl

alias kaf 'k apply -f'

alias kc 'k config'
alias kccc 'k config current-context'
alias kcdc 'k config delete-context'
alias kcsc 'k config set-context'
alias kcuc 'k config use-context'

alias kd 'k describe'
alias kdd 'kd deployment'

alias kdel 'k delete'
alias kdeld 'kdel deployment'
alias kdeli 'kdel ingress'
alias kdelp 'kdel pods'
alias kdels 'kdel svc'
alias kdelsec 'kdel secret'

alias ke 'k edit'
alias ked 'ke deployment'
alias kei 'ke ingress'
alias kep 'ke pods'
alias kes 'ke svc'

alias keti 'k exec -ti'

alias kg 'k get'
alias kga 'kg --all-namespaces'
alias kgd 'kg deployment'
alias kgn 'kg namespaces'
alias kgi 'kg ingress'
alias kgp 'kg pods'
alias kgpa 'kgp -A'
alias kgrs 'kg rs'
alias kgs 'kg svc'
alias kgsec 'kg secret'
alias kgno 'kg nodes'

alias kl 'k logs'
alias klf 'k logs -f'

alias krh 'k rollout history'
alias krsd 'k rollout status deployment'
alias kru 'k rollout undo'

alias ksd 'k scale deployment'

# ncal aliases
{{- if eq .chezmoi.os "darwin" }}
alias c 'ncal -w -3'
alias cy 'ncal -w -y'
alias c3 'ncal -B 3 -A 3'
{{- end }}
